.password {
    display: flex;
    flex-direction: column;
}
.password input {
    font-size: 1em;
    padding: .5em;
}
.password button {
    border: none;
    background-color: rgb(226, 226, 226);
    font-size: 1em;
    padding: .5em .8em;
    margin-right: .5em;
}